/* Header.css */
.header {
    background-color: var(--primary-color);
    padding: 1rem;
}

.header-logo {
    height: 40px;
}

.p-menubar {
    background-color: transparent;
    border: none;
}

.p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link {
    color: white;
}

.p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link:hover {
    background-color: var(--secondary-color);
}

.p-input-icon-left .pi {
    color: var(--secondary-color);
}

.p-inputtext {
    border-radius: 50px;
    padding: 0.5rem 1rem;
}